

            <section id="search">
                <h1>Search</h1>
                <form method="GET" class="form">
                    <input type="text" class="search" name="title" value="{{filter.title}}" placeholder="Title...">
                    <input type="text" name="genre" value="{{filter.genre}}" class="genre" placeholder="Genre...">
                    <input type="number" name="year" value="{{filter.year}}" class="year" placeholder="Year...">
                    <input type="submit" value="search">
                </form>
            </section>

            <section id="catalog">
                <div class="band">

                    <!-- If there are posts for movie in the database display each of them -->

                    {{#each movies}}
                    <!-- If there are posts for creature in the database display each of them -->
                    {{!-- <div class="flip flip-vertical">
                        <div class="front">
                            <img src="{{imageUrl}}"
                                alt="{{title}}">
                        </div>
                        <div class="back">
                            <h1>{{title}}</h1>
                            <h2>Genre: {{genre}}</h2>
                            <p>Description: {{description}}</p>
                            <a href="/movies/{{_id}}" class="details">Details</a>
                        </div>
                    </div> --}}
                    {{>movie}}


                    <!-- If there are no posts matched display: -->
                    {{else}}
                    <div class="no-posts">
                        <p class="no-offer">There are no movies matched...</p>
                    </div> 
                    {{/each}} 
                </div>
            </section>

        